<!--
<div class="information-blocks">
	<div class="latest-entries-heading">
		<h3 class="title">Новости</h3>
		<a href="/news" class="latest-more">Посмотреть все новости <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
	</div>
	<div class="products-swiper">

	</div>
</div>			
-->
